*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 4px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}


.Header{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: white;
}
.Container-app{
    width: 1080px;
    margin: auto;
}
.Header-menu{
    height: 60px;
    line-height: 60px;

}

.Header-top{
    height: 84px;
    line-height: 84px;
    text-align: center;
}

.img-logo{
    width: 60px;
    height: 60px;
}
.img-logo img {
    width: 100%;
    border-radius: 50%;
    height: 100%;
}

.input-search-header {
    width: 80%;
    padding: 8px 0 8px 16px;
    border-radius: 50px;
    outline: none;
    line-height: 14px;
    border: 1px solid #d4cece;
    background-color: #F5F5F5;
}
.search-header{
    position: relative;
}
.icon-search-header {
    position: absolute;
    top: 32px;
    right: 68px;
    font-size: 20px;
    cursor: pointer;
}

.header-custom-text {
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;    

}
.header-custom-text a{
    color: black;
    text-decoration: none;
}

.container-menu {
    width: 840px;
    margin: auto;
    text-align: center;
}

.header-menu-text {
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.header-menu-text a{
    color: #7d7d7d;
    text-decoration: none;
}

.header-menu-text:hover a{
    color: black ;

}
.header-menu-active a{
    color: black !important;
}

.Content-banner {
    width: 100%;
    height: 600px;
}

.intrduce {
    position: absolute;
    top: 36%;
    left: 10%;
    color: white;
}

.introduce-title {
    font-size: 22px;
}

.introduce-product {
    font-size: 52px;
    font-weight: 600;
}

.btn-down {
    position: absolute;
    font-size: 30px;
    left: 50%;
    bottom: 30%;
}

.Content-banner img {
    width: 100% !important;
    height: 100%;
    object-fit: cover;
    filter:brightness(75%);
    position: relative;
}

.img-main-product{
    width: 100%;
    height: 194px;
}

.img-main-product img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter:brightness(70%);
}
.nav-main-product{
    position: relative;

}
.text-main-product {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 23px;
    font-weight: 600;
    text-align: center;
}

.mt-60{
    margin-top: 60px;
}

.mb-60{
    margin-bottom: 60px;
}

.mt-40{
    margin-top: 40px;
}

.mb-40{
    margin-bottom: 40px;
}

.product-selling-title {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.product-selling-title hr {
    flex: 1;
    height: 2px;
}

.product-selling-title span {
    font-size: 30px;
    font-weight: 600;
    color: #000;
}

.thumbnail-avt-product{
     height: 252px;
     width: 252px;
     overflow: hidden;
     cursor: pointer;
     position: relative;
}

.thumbnail-avt-product img{
    width: 100%;
    height: 100%;
    transition: .3s;
}

.thumbnail-avt-product:hover img{
    transform: scale(1.1);
}
.thumbnail-avt-product:hover .tab-detail-product{
    transform: translateY(0);
}

.product-item{
    text-align: center;
    margin-bottom: 40px;
}

.tab-detail-product {
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding: 6px 0;
    background-color: black;
    color: white;
    font-weight: 500;
    transition: .3s;
    transform: translateY(36px);
}

.thumbnail-price-product{
    font-weight: 600;
}

.thumbnail-name-product {
    color: black;
    margin-top: 20px;
    height: 48px;
}

.btn-add-cart {
    font-size: 12px;
    padding: 4px 6px;
    outline: none;
    cursor: pointer;
    border: 1px solid #333;
    font-weight: 600;
    color: rgb(66, 66, 66);
    transition: .3s;
}


.btn-add-cart:hover{
    color: white;
    background-color: #000;
}


.deliver-container {
    text-align: center;
}
.deliver-icon {
    font-size: 50px;
    color: #626161;
}
.deliver-title {
    font-size: 18px;
    font-weight: 600;
    margin: 8px 0px;
}

.Content {
    padding: 144px 0 60px 0;
}

.deliver-content {
    color: #6A6060;
}

.Footer{

    background-color: rgb(22, 22, 22);
    padding: 20px 0;
}

.Footer-content {
    color: #cfc9c9;
}
.Footer-title {
    font-size: 18px;
    font-weight: 600;
    margin: 8px 0px;
    color: white;
    position: relative;
}
.Footer-title::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 30%;
    background-color: #6b6b6b;
    bottom: 0;
    left: 0;

}

.footer-thumb-product{
    width: 60px;
    height: 70px;
}

.footer-thumb-product img{
    width: 100%;
    height: 100%;
}
.Footer-price {
    color: white;
    font-weight: 600;
}

.custom-bb {   
    line-height: 30px;
    border-bottom: 1px solid rgb(53, 53, 53);
}
.Footer-location {
    font-size: 17px;
    color: white;
    line-height: 32px;
}

.remove-from-cart {
    width: 24px;
    height: 24px;
    text-align: center;
    margin-top: 14px;
    border: 2px solid #ccc;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 12px;
    position: relative;
}

.remove-from-cart:hover{
    border: 2px solid rgb(0, 0, 0);
}
.remove-from-cart:hover p{
    color: rgb(0, 0, 0);
}
.remove-from-cart p {
    text-decoration: none;
    color: #ccc;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 52%;
}
.thumb-img-cart{
    width: 60px;
    height: 60px;
}
.thumb-img-cart img{
    width: 100%;
}

.cart_table{
    width: 100%;
    text-align: left;
}

.btn-quantity {
    text-align: center;
    border: 1px solid #ccc;
    cursor: pointer;
}

.quantity-product-cart {
    padding: 4px;
}
.border-custom-cart {
    border-bottom: 2px solid #ccc;
    margin: 12px 0;
}
.border-custom-pay {
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
}
.price-custom-text {
    font-weight: 600;
}

.cart-product-item {
    margin-top: 12px;
}
.back-view-btn {
    padding: 4px 8px;
    border: 2px solid #000;
    font-size: 14px;
    background-color: white;
    font-weight: 600;
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.update-cart-btn{
    padding: 4px 8px;
    border: 2px solid rgb(74 74 74);
    font-size: 14px;
    background-color: rgb(74 74 74);
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}
.btn-action-cart a{
    text-decoration: none;
}
.update-cart-btn:hover,
.back-view-btn:hover{
    background-color: #000;
    color: rgb(255, 255, 255);
    border: 2px solid #000;
}

.sale-icon {
    color: #999;
    margin: 6px;
    font-size: 18px;
}
.input-sale {
    width: 100%;
    padding: 8px;
    margin: 0 0 10px 0;
    outline: none;
    border: 1px solid #999;
}
.btn-apply-code-sale {
    width: 100%;
    padding: 8px;
    margin: 0 0 12px 0;
    outline: none;
    border: 1px solid #999;
    font-weight: 600;
}
.text-right{
    text-align: right;
}
.pay-product {
    width: 100%;
    padding: 10px;
    margin: 0 0 12px 0;
    outline: none;
    border: 1px solid #999;
    color: white;
    background-color: black;
    margin-top: 20px;
}
.cart-empty-size{
    text-align: center;
}

.img-size-detail{
    width: 80%;
}

.img-size-detail img{
    width: 100%;
}

.detail-name {
    font-size: 30px;
    font-weight: 600;
    margin-top: 12px;
}

.detail-price{
    font-size: 20px;
    font-weight: bold;
}

.properties-choose {
    border: 1px solid #e0e0e0;
    margin-right: 8px;
    text-align: center;
    padding: 5px 0px;
    cursor: pointer;
}

.info-ul li{
    margin-bottom: 10px;
}
.detail-add-to-cart {
    padding: 6px;
    background-color: black;
    text-align: center;
    color: white;
    font-weight: 600;
    cursor: pointer;
    margin-left: 10px;
}

.quantity-detail {
    text-align: center;
    border: 1px solid #ccc;
    padding: 6px 0;
}
.btn-change{
    background-color: #ccc;
    cursor: pointer;
}

/* ----------swiper------------ */
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    background-size: cover;
    background-position: center;
  }

  .mySwiper2 {
    height: 80%;
    width: 100%;
  }

  .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }

  .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }

  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper-button-next, .swiper-button-prev  {
    color: #333 !important;
  }

  /* --------------swiper-------------------- */


  /* -------------TAB------------------------ */

  .b-tab {
    /* padding: 20px; */
    /* border: 1px solid #000; */
    display: none;
  }
  
  .b-tab.active {
    display: block;
  }
  
  .b-nav-tab {
    display: inline-block;
    padding: 10px 0;
    margin-right: 10px ;
    cursor: pointer;
  }
  
  .b-nav-tab.active {
    color: #000000;
    border-top: 2px solid rgb(0, 0, 0) ;
  }



  /* -------------TAB------------------------ */


.properties-content {
    list-style: none;
    padding: 0;
    width: 550px;

}

.properties-color {
    background-color: #f5f5f5;
}
.properties-item{
    padding: 10px 15px;
    align-items: center;
}
.notify-comment {
    padding: 8px;
    border: 1px solid #333;
    margin: 10px 0px;
}

.same_product {
    margin: 20px 0;
    font-weight: 600;
}

.bd-lf-custom{
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
input.input_value_quantity {
    width: 30px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 2px;
    border-left: none;
    border-right: none;
    outline: none;
}
 
input.input_value_quantity::-webkit-outer-spin-button,
input.input_value_quantity::-webkit-inner-spin-button {
    -webkit-appearance: none;
     margin: 0;
}

.header-info-customer {
    text-align: end;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    display: inline;
}

.drop-down-info {
    position: absolute;
    text-align: start;
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 14px 10px;
    line-height: 36px;
    right: 0;
    border-radius: 3px;
    top: 120%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
}

.header-info-customer:hover .drop-down-info{
    visibility: visible;
    opacity: 1;
}


.drop-down-info-item a{
    color: #333;
    text-decoration: none;
}

.drop-down-info-item a:hover {
    color: rgb(104, 101, 250);
}
.cart-container{
    position: relative;
}

.cart-quantity {
    position: absolute;
    width: 23px;
    height: 23px;
    background-color: #000000;
    top: -18px;
    right: -16px;
    color: #ffffff;
    line-height: 22px;
    border-radius: 50%;
    font-size: 14px;
}

.Content-banner-category{
    height: 400px;
    width: 100%;
    background-image: url("https://wallpaperaccess.com/full/1314202.jpg");
    animation: rain 40s linear infinite;
    position: relative;
    object-fit: contain;
}

@keyframes rain {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: -500px 1000px;
    }
}

.intrduce-category {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
}
.sort-select-container{
    justify-content: end;
}
.custom-select-sort{
    outline: none;
    text-align: end;
}
.custom-select-sort select{
    outline: none;
    padding: 4px;
}
.tag-category-product {
    font-size: 19px;
    font-weight: 600;
}
.filter-tag {
    border: 1px solid #ccc;
    padding: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    background-color: #fbfbfb;
}
.filter-option {
    border: 1px solid #ccc;
    padding: 5px;
    border-top: none;
}
.filter-option input {
    cursor: pointer;
}

.filter-tag-container{

}
.filter-option-container{
    width: 100%;
    display:none;
    transition: .3s;
}

.filter-active{
    display:block;
}
